<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zqy.stage.member.dao.MemberDao">
	<resultMap id="BaseResultMap" type="com.zqy.stage.member.model.Member">
		<result column="id" property="memberId" />
		<result column="user_name" property="userName" />
	</resultMap>

	<parameterMap id="member" type="com.zqy.stage.member.model.Member"/>

	<sql id="Base_Column_List">
		id, user_name
	</sql>

	<select id="findByuserName" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from members
		where user_name = #{userName}
	</select>

</mapper>
